---
const buttonClasses = "uppercase font-semibold hover:underline hover:cursor-pointer"
---

<nav class="flex flex-col gap-2 justify-center items-center fixed top-0 pt-2 bg-white w-full z-50">
    <section class="flex gap-2">
        <a href="/">
            <button class={buttonClasses}>
                Home
            </button>
        </a>
        <a href="/blog">
        <button class={buttonClasses}>
            Blog
        </button>
        </a>
        <a href="/work">
            <button class={buttonClasses}>
                Work
            </button>
        </a>
        <a href="/about">
            <button class={buttonClasses}>
                About
            </button>
        </a>
        <a href="/contact">
            <button class={buttonClasses}>
                Contact
            </button>
        </a>
    </section>
    <div class="w-35 h-0.5 rounded-xl bg-black" />
</nav>